/* Taille limite width 1090 px */
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:900);

body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*background-image:url("images/tatami.jpg");*/
	font-family: 'Alegreya SC', serif;
	color:black;
}

html{
	margin: 0;
	width: 100%;
	height: 100%;
}

#page-acceuil{
	position:relative;
	top:0;
	left:0;
	padding-top: 150px;

}

.container{
	position: relative;
	top:0;
	right: 0;
	text-align: center;
	width: 700px;
	margin-top: 0%;
	height:100%;

}

.page{
	background-image:url("images/tatami.jpg");
	margin: 0;
	width: 100%;
	height: 100%;
}

a:hover{
	color:black;
	text-decoration: none;
}
a{
	color:black;
}

.titre{
	position: absolute;
	top:0;
	left: 0;
	width:300px;
	height:300px;
	margin-left:0;
	border-bottom-right-radius: 100%;
	background-color: coral;
	padding-top: 100px;
}

h1{
	transform: rotate(-30deg);
}


.bon{
	border: 3px solid red;
	float: left;
	border-radius: 50%;
	background-color: black;
	width: 528px;
	padding-top:528px;
	shape-outside:circle();
	margin:10px;
	background-image:url("images/bon.jpg");
	background-repeat:no-repeat;
	background-position : 90% 75%;
	background-size: 25%;

}

.fukusa{
	position:absolute;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	top:150px;
	left:0;
	width: 117px;
	height: 232px;
	/*background-color: red;*/
}

.fukusa img{
	width:100%;
}



.natsume{
	position:absolute;
	top:17px;
	left:229px;
	width:118px;
	border-radius:50%;

}

.natsume img{
	width:100%;
}

.chawan{
	position:absolute;
	top:170px;
	left:133px;
	width:314px;
	border-radius:50%;


}

.chawan img{
	width:100%;
}



ul li ul{
	display:none;
	visibility: hidden;
	font-size:15px;
}

ul li:hover ul{
	visibility: visible;
	display:block;
}

ul li ul li{
	padding-left:10px;
	font-size:20px;
}

ul li ul li:hover{
	text-shadow: 1px 1px grey;

}

ul li ul li::before{
	content:" - ";
}


li{
	text-align: left;
	margin: 0;
	font-size: 25px;
	list-style:none;
	text-shadow: 1px 1px white;
	font-family: 'Alegreya SC', serif;

}

li:hover{
	cursor:pointer;
	cursor:hand;
}

/* Légende */

.trait{
	border-bottom: 2px dotted darkred;
	width:0;
	height:10px;
	left:-15%;
	position:absolute;

}

.mot{
	display:none;
	visibility:none;
	text-shadow: 1px 1px white;

}

/* Fukusa */

.trait-fukusa{
	top:30%;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-fukusa:hover .trait-fukusa{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:21%;
}

.menu-fukusa:hover .mot-fukusa{
	display:block;
	visibility:visible;

}

.mot-fukusa{
	position:absolute;
	top:29%;
	left:-25%;
}


/* Chawan */

.trait-chawan{
	top:360px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-chawan:hover .trait-chawan{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:41%;
}

.menu-chawan:hover .mot-chawan{
	display:block;
	visibility:visible;

}

.mot-chawan{
	position:absolute;
	top:353px;
	left:-25%;
}

/* Bon */

.trait-bon{
	top:460px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-bon:hover .trait-bon{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:36%;
}

.menu-bon:hover .mot-bon{
	display:block;
	visibility:visible;

}

.mot-bon{
	position:absolute;
	top:453px;
	left:-25%;
}

/* Chashaku */

.trait-chasha{
	top:600px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-chasha:hover .trait-chasha{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:69%;
}

.menu-chasha:hover .mot-chasha{
	display:block;
	visibility:visible;

}

.mot-chasha{
	position:absolute;
	top:593px;
	left:-25%;
}

/* Chasen */

.trait-chasen{
	top:500px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-chasen:hover .trait-chasen{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:55%;
}

.menu-chasen:hover .mot-chasen{
	display:block;
	visibility:visible;

}

.mot-chasen{
	position:absolute;
	top:493px;
	left:-25%;
}

/* Chakin */

.trait-chakin{
	top:385px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-chakin:hover .trait-chakin{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:48%;
}

.menu-chakin:hover .mot-chakin{
	display:block;
	visibility:visible;

}

.mot-chakin{
	position:absolute;
	top:378px;
	left:-25%;
}

/* Natsume */

.trait-natsume{
	top:90px;
	transition-property: width;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 0%;
}

.menu-natsume:hover .trait-natsume{
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0s;
	width:55%;
}

.menu-natsume:hover .mot-natsume{
	display:block;
	visibility:visible;

}

.mot-natsume{
	position:absolute;
	top:83px;
	left:-25%;
}


/* 	Page Fukusa */

#page-fukusa{
	display:none;
	
	border-top:100px solid black ;
	position: relative;
	top:0;
	left:0 ;
	width: 100%;
	padding-top: 10%;
	height:100%;
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
	background-image:url("images/tatami.jpg");
	transition: all 0.6s ease-in-out;
}

.fukusaSabaki{
	float:left;
	width:200px;
	height:200px;
	background-color:pink;
}


